body 
{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.navbar ul li 
{
    display: inline-block;
    padding: 4px 20px;
}
.navbar a 
{
    color: white;
    text-decoration: none;
    list-style-type: none;
}